*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(to bottom, #141718, #242f37);
}

html {
    scroll-behavior: smooth;
  }
  

  