/* INICIO DA HEADER */
.header-principal{
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;
}


.navbar{
    
    display: flex;
    height: 90px;
    width: 100%;
    background-color: #141718;
    top: 0;
    position: sticky;
    z-index: 999;
}

.ul-navbar{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    

    width: 100%;
    padding: 20px;
    gap: 20px;
}

.ul-navbar li a{
    color: #838d8f;
    text-decoration: none;
    color: #bcbcbc; /* Cor do texto principal */
    -webkit-text-stroke: 1px rgba(34, 193, 195, 0.4); /* Contorno do texto em verde */
    text-shadow: 0px 2px 4px rgba(34, 193, 195, 0.4);
}

.ul-navbar li a:hover{
    color: #ffffff;
}

.text-navbar{
    /* imagem */
    background-image: url("/images/7.png");
    background-image: center;
    background-position: center;
    background-size: cover;
    

    /* display */
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;   

    /* text */
    font-size: 30px;
}

.text-navbar h1{
    font-weight: bold;
    color: #bcbcbc; /* Cor do texto principal */
    -webkit-text-stroke: 1px rgba(34, 193, 195, 0.4); /* Contorno do texto em verde */
    text-shadow: 0px 2px 4px rgba(34, 193, 195, 0.4);
}

.text-navbar strong{
    font-size: bold;
    color: #bcbcbc; /* Cor do texto principal */
    -webkit-text-stroke: 1px rgba(34, 193, 195, 0.4); /* Contorno do texto em verde */
    text-shadow: 0px 2px 4px rgba(34, 193, 195, 0.4);
}

/* FIM DA HEADER */

/* INICIO DO SOBRE */

.container-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    gap: 40px;
}

.container-sobre h2{
    font-size: 30px;
    font-weight: bold;
    color: #bcbcbc; /* Cor do texto principal */
    -webkit-text-stroke: 1px rgba(34, 193, 195, 0.4); /* Contorno do texto em verde */
    text-shadow: 0px 2px 4px rgba(34, 193, 195, 0.4);
}


	


.sobre-div-impar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;

    gap: 20px;
    padding: 20px;
    border-radius: 10px;

    background-color: #192029;
    box-shadow: rgba(34, 193, 195, 0.4) 5px 5px, 
            rgba(34, 193, 195, 0.3) 10px 10px, 
            rgba(34, 193, 195, 0.2) 15px 15px, 
            rgba(34, 193, 195, 0.1) 20px 20px, 
            rgba(34, 193, 195, 0.05) 25px 25px;

}

.sobre-div-par{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;

    gap: 20px;
    padding: 20px;
    border-radius: 10px;

    background-color: #192029;
    box-shadow: rgba(34, 193, 195, 0.4) -5px 5px, 
            rgba(34, 193, 195, 0.3) -10px 10px, 
            rgba(34, 193, 195, 0.2) -15px 15px, 
            rgba(34, 193, 195, 0.1) -20px 20px, 
            rgba(34, 193, 195, 0.05) -25px 25px;

}

.sobre-div-impar p{
    color: #838d8f;
    font-size: 18px;
}
.sobre-div-par p{
    color: #838d8f;
    font-size: 18px;
}

.sobre-div-impar img{
    height: 300px;
    width: 534px;

    background-position: center;
    background-size: cover;
    background-image: center;

    border-radius: 10px;
    box-shadow: rgba(34, 193, 195, 0.4) 0px 0px 10px 5px;
}

.sobre-div-par img{
    height: 300px;
    width: 534px;

    background-position: center;
    background-size: cover;
    background-image: center;

    border-radius: 10px;
    box-shadow: rgba(34, 193, 195, 0.4) 0px 0px 10px 5px;
}

/* FIM DO SOBRE */

/* INICIO DO CADASTRO */

.section-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    padding: 30px;
}

.div-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #192029;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.div-formulario h4{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #bcbcbc; /* Cor do texto principal */
    -webkit-text-stroke: 1px rgba(34, 193, 195, 0.4); /* Contorno do texto em verde */
    text-shadow: 0px 2px 4px rgba(34, 193, 195, 0.4);
}

.formulario-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 70%;
    width: 90%;
    gap: 20px;
}

#cadastro-nome{
    display: flex;
    flex-direction: column;

    width: 70%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    color: #bcbcbc; /* Cor do texto principal */
    -webkit-text-stroke: 1px rgba(34, 193, 195, 0.4); /* Contorno do texto em verde */
    text-shadow: 0px 2px 4px rgba(34, 193, 195, 0.4);
}

.cadastronome{
    display: flex;
    flex-direction: column;
}

.cadastronome input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor:text;
}

#workshop{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    color: #bcbcbc; /* Cor do texto principal */
    -webkit-text-stroke: 1px rgba(34, 193, 195, 0.4); /* Contorno do texto em verde */
    text-shadow: 0px 2px 4px rgba(34, 193, 195, 0.4);
}

#titulo-workshop{
    font-size: 16px;
    color: #838d8f;
    margin-bottom: 20px;
}

.opcao-workshop{
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
}

#news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 400;
    padding: 10px;
    gap: 20px;
    border-radius: 5px;
    color: #bcbcbc; /* Cor do texto principal */
    -webkit-text-stroke: 1px rgba(34, 193, 195, 0.4); /* Contorno do texto em verde */
    text-shadow: 0px 2px 4px rgba(34, 193, 195, 0.4);
}

.radio-news{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
}

#btn-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgba(34, 193, 195, 0.4); /* Contorno do texto em verde */
    text-shadow: 0px 2px 4px rgba(34, 193, 195, 0.4);
}

#btn-submit:hover{
    background-color: #2980b9;
    color: #ffffff;
}

/* FIM DO CADASTRO */

/* INICIO DO FOOTER */

.footer{
    display: flex;
    width: 100%;
    height: 200px;
}

.container-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    color: #bcbcbc;
    gap: 20px;
    padding: 10px;
}

.footer-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-ul li{
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    gap: 10px;
}

.footer-ul li a{
    font-size: 10px;
}

#ul-p{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* FIM DO FOOTER */





/* ICONS */
.fa-facebook, .fa-twitter, .fa-instagram{
    color: #bcbcbc;
    font-size: 25px;
}